

.app {
  display: flex;
  padding: 40px;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.left-column {
  background-color: #f9faf5;
  border-radius: 40px;
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 260px;
  text-align: left;
}

.logo {
  height: 85px;
  border-radius: 12px;
  margin-top: 20px;
  box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.1);
}

.active-projects-list {
  list-style: none;
  height: 100%;
  width: 100%;
  margin-top: 50px;
  overflow-y: scroll;
}

.active-projects-list::-webkit-scrollbar {
  display: none;
}

.active-projects-list li {
  display: flex;
  flex-direction: row;
  border-radius: 12px;
  padding: 5px;
  font-size: 10px;
  margin-bottom: 10px;
  border: solid 0.5px #81818166;
  border-radius: 20px;
}

.active-projects-list li div {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin: 2px;
  margin-right: 6px;
}

.active-projects-list h4 {
  margin-top: 0;
  width: 100%;
}

.dropdowns {
  color: #818181;
  display: inline;
  flex-direction: row;
  margin-bottom: 5px;
}

.error-message {
  color: red;
  font-size: 12px;
}

.add-project-btn {
  margin-top: 20px;
  background-color: #d8e4f8;
  color: #637a9e;
  border: none;
  border-radius: 12px;
  width: 160px;
  padding: 8px;
  font-size: 12px;
  font-weight: 600;
  transition: background-color 0.3s;
}

.add-project-btn:hover {
  cursor: pointer;
  background-color: #637a9e;
  color: #d8e4f8;
}

.form-container {
  width: 100%;
}

.new-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
  width: 100%;
}

.new-form > * {
  width: 100%;
  border: solid 0.5px #81818166;
  border-radius: 20px;
  padding: 6px;
  margin-bottom: 8px;
  font-size: 12px;
}

.form-group {
  border: none;
}

.right-column {
  display: flex;
  position: relative;
  justify-content: center;
  background-color: #f9faf5;
  border-radius: 40px;
  padding: 40px;
  margin: 10px;
  overflow-y: auto;
  width: 100%;
}

.right-column::before {
  content: "";
  position: fixed;
  bottom: 50px;
  right: 50px;
  border-radius: 40px;
  width: 1535px;
  height: 70px; 
  box-shadow: inset 0px 50px 20px -10px rgba(255, 255, 255, 0.5);
  transform: rotate(180deg);
}


.right-column::-webkit-scrollbar, .list-container::-webkit-scrollbar, .calendar-grid::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.tabs {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f9faf5;
  padding: 20px;
  border-radius: 40px;
  width: 800px;
  z-index: 1000;
  box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.1);
}

.tab-content {
  padding-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  
}

.tabs button {
  border: none;
  color: #cbcbc7;
  background-color: transparent;
  font-size: 15px;
  letter-spacing: 0.75px;
}

.tabs button:hover {
  color: #818181;
  cursor: pointer;
}

.tabs button.active {
  color: black; 
  border-bottom: 2px solid #d9f27e; 
  font-weight: 700;
  letter-spacing: 0.5px;
}

.project-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  min-width: 100%;
  border-radius: 40px;
  padding-bottom: 100px;
}


.project-card {
  border: 1px solid #fef8e6;
  border-radius: 30px;
  min-height: 300px;
  width: 421px;
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.todo-list-card {
  padding-top: 20px;
}

.pastel-blue {
  background-color: #637a9e3f;
}

.pastel-green {
  background-color: #b5ddb557;
}

.pastel-pink {
  background-color: #f1c5eb57;
}

.pastel-yellow {
  background-color: #d9f27e86;
}

.title-container {
  justify-content: left;
}

.client-title {
  display: flex;
  color: #cbcbc7;
  font-size: 12px;
  width: 80px;
  align-items: center;
}

.project-title {
  font-size: 16px;
  width: 150px;
  justify-content: center;
  align-items: center;
}

.todo-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  font-size: 12px;
  height: 30px;
  margin-bottom: 18px;
}

.todo {
  display: flex;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f9faf5;
  color: #272727;
  border-radius: 15px;
  align-items: center;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 10px;
}

.todo > * {
  display: inline;
}

.todo p {
  width: 300px;
}

.add-form {
  width: 280px;
  border: none;
  border-radius: 20px;
  padding: 6px;
  margin-top: 30px;
  margin-left: 12px;
  margin-right: 12px;
}

.add-btn {
  background-color: #d9f27e;
  border: none;
  border-radius: 12px;
  width: 60px;
  padding: 8px;
  font-size: 12px;
  font-weight: 600;
  transition: background-color 0.3s;
}

.add-btn:hover {
  background-color: #758343;
  color: #ffffff;
  cursor: pointer;
}

hr {
  border: solid 1px #cbcbc733;
}

.complete-box {
  margin-right: 10px;
  width: 15px;
  height: 15px;
}

.complete-box:hover {
  cursor: pointer;
}

.project-label-container {
  display: flex;
  height: 45px;
  align-items: center;
}

.delete-btn,
.project-delete-btn {
  background-color: transparent;
  color: #cbcbc7;
  border: none;
  border-radius: 12px;
  height: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  opacity: 0%;
}

.delete-btn {
  width: 25px;
}

.project-delete-btn {
  width: 80px;
}

.project-card:hover .project-delete-btn {
  opacity: 100%;
}

.project-card:hover .delete-btn {
  opacity: 100%;
  margin-top: 18px;
  margin-left: 2px;
}

.delete-btn:hover,
.project-delete-btn:hover {
  background-color: #99999944;
  color: #fff;
}

.priority-list {
  width: 100%;
}

.priority-list ul > li {
  display: flex;
  padding: 20px 20px 20px 0px;
  color: #272727;
  border-radius: 15px;
  align-items: center;
  justify-content: left;
  margin-top: 50px;
  height: 75px;
}

.date-icon {
  display: flex;
  font-weight: 300;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
  margin-right: 20px;
  border-radius: 16px;
  width: 100px;
  height: 100px;
  box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.1);
}

.date-icon-card {
  display: flex;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
  margin-right: 20px;
  border-radius: 16px;
  width: 100px;
  height: 60px;
  box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.1);
}

.priority-description {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.calendar-tab {
  display: flex;
  width: 100%;
}

.list-container {
  display: flex;
  flex-direction: column;
  width: 35%;
  border: solid 0.5px #81818145;
  border-radius: 12px;
  margin-right: 20px;
  padding: 30px;
}

.list-container h2 {
  margin-bottom: 20px;
}

.todos-without-deadlines-list {
  list-style-type: none;
  overflow-y: scroll;
}

.todos-without-deadlines-list li {
  margin-bottom: 10px;
  padding: 8px;
  border: solid 0.5px #81818145;
  border-radius: 12px;
}

.todos-without-deadlines-list::-webkit-scrollbar {
  display: none;
}

.list-container::-webkit-scrollbar {
  display: none;
}

.calendar-tab {
  overflow-y: hidden;
  height: 100%;
}

.calendar-container {
  width: 100%;
  margin-left: 20px;
  overflow-y: scroll;
  border: solid 0.5px #81818145;
  border-radius: 12px;
  padding: 20px;
}

.calendar-container::-webkit-scrollbar {
  display: none;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding-top: 25px;
}

.cal-nav-btn {
  background-color: #d9f27e;
  border: none;
  border-radius: 12px;
  height: 35px;
  width: 120px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.8px;
  transition: background-color 0.3s;
}

.cal-nav-btn:hover {
  background-color: #758343;
  color: #ffffff;
  cursor: pointer;
}

.calendar {
  display: flex;
  flex-direction: column;
}

.calendar-day {
  display: flex;
  flex-direction: column;
  min-height: 200px;
  border: solid 0.5px #81818145;
  border-radius: 12px;
  min-width: 100%;
  padding: 20px;
  margin-bottom: 10px
}

.calendar-day h4 {
  margin: 0;
  margin-bottom: 20px;
}

.calendar-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.calendar-list li {
  margin-bottom: 10px;
  border: solid 0.5px #81818145;
  border-radius: 12px;
  padding: 10px;
}

.pastel-red {
  background-color: #b0353356;
}

.remove-btn {
  background-color: transparent;
  color: #9a9a9a;
  border: none;
  border-radius: 12px;
  height: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  opacity: 0%;
  margin-left: 20px;
}

.remove-btn:hover {
  background-color: #ff7f7f ;
  color: #f9faf5;
}

.calendar-list li:hover .remove-btn {
  opacity: 100%;
}